<div id="head_container">
    <div id="head_top">
        <img src="../assets/citilogoredesign.png">
    </div>
    <div id="head_bottom">
        <nav id="main_nav">
            <ul>
                <li>
                    <div class="nav_button">
                        <a href="#">Introduction</a>  
                    </div>
                    <div class="dropdown_content">
                        <a href="history.html">Our History</a>
                        <a href="location.html">Our Location</a>
                        <a href="gallery.html">Volcano BBQ</a>
                        <a href="gallery.html">Accommodation</a>
                        <a href="gallery.html">Other Facilities</a>
                    </div>   
                </li>
                <li>
                    <div class="nav_button">
                        <a href="#">Book Now</a>
                    </div>
                </li>
                <li>
                    <div class="nav_button">
                        <a href="#">Events</a>
                    </div>
                    <div class="dropdown_content">
                        <a href="Past Events.html">Past Events</a>
                        <a href="Past Events.html">Upcoming</a>
                        <a href="mailto: services.volcano_bbq@volcano.com">Your Ideas</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>